table{
  width: 100%;
  border-collapse: collapse;
}

table,th,td{
  border: 1px solid;
}

.order {
  
   margin-left: 290px;
   /* display:flex;
   justify-content:left;  */
   align-items: center;
   
  
}